.service {
    position: relative;
    background-color: #fff;
    margin-bottom: 15px;

    .service-img {
        display: block;
        overflow: hidden;

        img {
            width: 100%;
            transition: all 0.3s ease-in-out;
        }

        &:hover,
        &:focus {
            img {
                transform: scale(1.05);
            }
        }
    }

    .service-desc {
        padding: 29px 17px 0;
    }

    .service-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        a {
            font-size: 20px;
            color: $text;
            font-weight: 700;
            display: inline-block;
            line-height: 1;
            transition: all 0.3s ease-in-out;

            @include rtl {
                font-family: 'GESS';
            }

            @include ltr {
                font-family: 'Helvetica';
            }

            &:hover,
            &:focus {
                color: $main;
                text-decoration: none;
            }
        }
    }

    .read-more {
        border-radius: 15px;
        width: 157px;
        height: 30px;
        background-color: $main;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0 0;
        transform: translateY(50%);
        transition: all 0.3s ease-in-out;

        &::after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 12px;

            @include rtl {
                content: "\f0d9";
                margin-right: 10px;
            }

            @include ltr {
                content: "\f0da";
                margin-left: 10px;
            }
        }

        &:hover,
        &:focus {
            background-color: $sec;
            text-decoration: none;
        }
    }
}