.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
    padding-bottom: 60px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 23px;
    }

    @include sm {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
    }

    @include xs {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding-bottom: 40px;
    }
}

.news-arc-page-section,
.careers-page-section {
    .page-head-sec {
        margin-bottom: 180px;

        @include xs {
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }
}